{% extends "form_base.html" %}

{% block title %} Logout {% endblock %}

{% block form_content %}

    <section class="msg_container">
        <article class="basic_msg">
            <p class="form_header">Sign Out</p>
            <p>Are you sure you want to sign out?</p>
        </article>
        <div class="msg_btn_container">
            <form method = 'post' action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type = "submit" class="msg_btn">Log out </button>
                <a href="{% url 'home' %}" class="msg_btn">Cancel</a>
            </form>
        </div>
    </section>
{% endblock %}
