{% extends "base.html" %}

{% block title %} Password Change {% endblock title %}

{% block styles %} 
    <style>
      .form_container{
        padding-top: 2em;
      }
      .centerForm{
        width: 30em;
        padding-bottom: 0;
        border: var(--border-main);
      }
      .fields_container{
        background: var(--bgcol-card);
      }
      .pwd_help_txt{
        margin: 1em 0 2em;
        margin-left: 2em;
        font-size: 0.8rem;
        list-style-type: disc;
        color: var(--col-muted);
      }


      @media screen and (max-width: 50rem) {
        .form_container{
          padding: 0;
        }
      }
    </style>
{% endblock %}

{% block content %}

  <section class="form_container">
    <form method = "post" class="centerForm" >
        {% csrf_token %}

        <p class="form_header">Change Password</p>
        
        <div class="fields_container">
            <div class="input_field">
                <input required type="password" placeholder="Current Password" name="oldpassword" class="form_input pwd_input">

                <button class="input_btn hide_btn" data-state="hide" type = "button">
                    <i class="ri-eye-close-line"></i>
                </button>                    
            </div>
            
            <div class="input_field">
                <input required type="password" placeholder="New password" name="password1" class="form_input pwd_input">

                <button class="input_btn hide_btn" data-state="hide" type = "button">
                    <i class="ri-eye-close-line"></i>
                </button>                    
            </div>

            <ul class = "pwd_help_txt">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>

            <div class="input_field">
                <input required type="password" placeholder="New Password (again)" name="password2" class="form_input pwd_input2">

                <button class="input_btn hide_btn" data-state="hide" type = "button">
                    <i class="ri-eye-close-line"></i>
                </button>                    
            </div>

            <span class="form_error_txt">
                {{ form.oldpassword.errors }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                {{ form.non_field_errors }}
                <small></small>
            </span>

            <a href = "{% url 'settings' %}" class="link"><small>Cancel</small></a>
            <input type="submit" value="Change Password" class="form_action_btn">
        </div>
    </form>
  </section>
{% endblock %}
