{% extends "form_base.html" %}

{% block title %} Reset Password {% endblock %}

{% block form_content %}

  <section class="form_container" >
    <form action="" class="centerForm" method = "post" action = "{% url 'account_reset_password' %}">
      {% csrf_token %}

      <p class="form_header">Forgot Password?</p>
      
      <div class="fields_container">
        <div class="input_field">
          <input type="email" placeholder="Email" name="email" class="form_input" required>
        </div>

        <span class="form_error_txt">
          {{ form.email.errors }}
          {{ form.non_field_errors }}
          <small></small>
        </span>

        <a href = "{% url 'account_login' %}" class="link"><small>Go back</small></a>

        <input type="submit" value="Submit" class="form_action_btn">
      </div>
    </form>
  </section>
  
{% endblock %}
