{% extends "form_base.html" %}
{% block title %} Password Changed Successfully {% endblock %}

{% block styles %}
    <style>
        .msg_btn_container{
            margin-bottom: 0.5em;
        }
        .basic_msg{
            font-size: 1.1rem;
        }
    </style>
{% endblock styles %}

{% block form_content %}

    <section class="msg_container">
        <article class="basic_msg">
            <p>Your Password is now changed</p>
        </article>

        <div class="msg_btn_container">
            <a href = "{% url 'account_login' %}" class="msg_btn">Login </a>
            <a href="{% url 'signup' %}" class="msg_btn">Sign Up</a>
        </div>
    </section>

{% endblock %}
