--
-- PostgreSQL database dump
--

\restrict vZHjhluqBuPBT052uqlxbmGbhrtxPbEqAHZ8vacxUZTRmbhhpLZyKA1VjOkzp2e

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.8 (Debian 17.8-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO dbuser;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO dbuser;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO dbuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO dbuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO dbuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO dbuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO dbuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO dbuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO dbuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_clockedschedule; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_clockedschedule (
    id integer NOT NULL,
    clocked_time timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_clockedschedule OWNER TO dbuser;

--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_beat_clockedschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_clockedschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_crontabschedule; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_crontabschedule (
    id integer NOT NULL,
    minute character varying(240) NOT NULL,
    hour character varying(96) NOT NULL,
    day_of_week character varying(64) NOT NULL,
    day_of_month character varying(124) NOT NULL,
    month_of_year character varying(64) NOT NULL,
    timezone character varying(63) NOT NULL
);


ALTER TABLE public.django_celery_beat_crontabschedule OWNER TO dbuser;

--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_beat_crontabschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_crontabschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_intervalschedule; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_intervalschedule (
    id integer NOT NULL,
    every integer NOT NULL,
    period character varying(24) NOT NULL
);


ALTER TABLE public.django_celery_beat_intervalschedule OWNER TO dbuser;

--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_beat_intervalschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_intervalschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictask; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_periodictask (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    task character varying(200) NOT NULL,
    args text NOT NULL,
    kwargs text NOT NULL,
    queue character varying(200),
    exchange character varying(200),
    routing_key character varying(200),
    expires timestamp with time zone,
    enabled boolean NOT NULL,
    last_run_at timestamp with time zone,
    total_run_count integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    description text NOT NULL,
    crontab_id integer,
    interval_id integer,
    solar_id integer,
    one_off boolean NOT NULL,
    start_time timestamp with time zone,
    priority integer,
    headers text NOT NULL,
    clocked_id integer,
    expire_seconds integer,
    CONSTRAINT django_celery_beat_periodictask_expire_seconds_check CHECK ((expire_seconds >= 0)),
    CONSTRAINT django_celery_beat_periodictask_priority_check CHECK ((priority >= 0)),
    CONSTRAINT django_celery_beat_periodictask_total_run_count_check CHECK ((total_run_count >= 0))
);


ALTER TABLE public.django_celery_beat_periodictask OWNER TO dbuser;

--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_beat_periodictask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_periodictask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictasks; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_periodictasks (
    ident smallint NOT NULL,
    last_update timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_periodictasks OWNER TO dbuser;

--
-- Name: django_celery_beat_solarschedule; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_beat_solarschedule (
    id integer NOT NULL,
    event character varying(24) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL
);


ALTER TABLE public.django_celery_beat_solarschedule OWNER TO dbuser;

--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_beat_solarschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_solarschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_chordcounter; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_results_chordcounter (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    sub_tasks text NOT NULL,
    count integer NOT NULL,
    CONSTRAINT django_celery_results_chordcounter_count_check CHECK ((count >= 0))
);


ALTER TABLE public.django_celery_results_chordcounter OWNER TO dbuser;

--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_results_chordcounter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_chordcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_groupresult; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_results_groupresult (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_done timestamp with time zone NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text
);


ALTER TABLE public.django_celery_results_groupresult OWNER TO dbuser;

--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_results_groupresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_groupresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_taskresult; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_celery_results_taskresult (
    id integer NOT NULL,
    task_id character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text,
    date_done timestamp with time zone NOT NULL,
    traceback text,
    meta text,
    task_args text,
    task_kwargs text,
    task_name character varying(255),
    worker character varying(100),
    date_created timestamp with time zone NOT NULL,
    periodic_task_name character varying(255),
    date_started timestamp with time zone
);


ALTER TABLE public.django_celery_results_taskresult OWNER TO dbuser;

--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_celery_results_taskresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_taskresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO dbuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO dbuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO dbuser;

--
-- Name: spedger_main_customerror; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_customerror (
    id bigint NOT NULL,
    error_class character varying(100) NOT NULL,
    error_txt text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.spedger_main_customerror OWNER TO dbuser;

--
-- Name: spedger_main_customerror_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_customerror ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_customerror_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_deletereason; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_deletereason (
    id bigint NOT NULL,
    reason text NOT NULL,
    date timestamp with time zone NOT NULL
);


ALTER TABLE public.spedger_main_deletereason OWNER TO dbuser;

--
-- Name: spedger_main_deletereason_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_deletereason ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_deletereason_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_diaryentry; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_diaryentry (
    id bigint NOT NULL,
    slip_id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer
);


ALTER TABLE public.spedger_main_diaryentry OWNER TO dbuser;

--
-- Name: spedger_main_diaryentry_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_diaryentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_diaryentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_duel; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_duel (
    id bigint NOT NULL,
    settled boolean NOT NULL,
    settled_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    minimum_odds numeric(30,2),
    duel_status character varying(15),
    winning_user_id integer
);


ALTER TABLE public.spedger_main_duel OWNER TO dbuser;

--
-- Name: spedger_main_duel_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_duel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_duel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_duellistinfo; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_duellistinfo (
    id bigint NOT NULL,
    recipient boolean NOT NULL,
    duel_obj_id bigint NOT NULL,
    slip_id bigint,
    user_id integer
);


ALTER TABLE public.spedger_main_duellistinfo OWNER TO dbuser;

--
-- Name: spedger_main_duellistinfo_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_duellistinfo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_duellistinfo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_feedback; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_feedback (
    id bigint NOT NULL,
    message text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer
);


ALTER TABLE public.spedger_main_feedback OWNER TO dbuser;

--
-- Name: spedger_main_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_feedback ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_friendrequest; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_friendrequest (
    id bigint NOT NULL,
    time_sent timestamp with time zone NOT NULL,
    recipient_id integer NOT NULL,
    sender_id integer NOT NULL,
    status character varying(10) NOT NULL
);


ALTER TABLE public.spedger_main_friendrequest OWNER TO dbuser;

--
-- Name: spedger_main_friendrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_friendrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_friendrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_groupchat_banned_users; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_groupchat_banned_users (
    id bigint NOT NULL,
    groupchat_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_groupchat_banned_users OWNER TO dbuser;

--
-- Name: spedger_main_group_banned_users_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_groupchat_banned_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_group_banned_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_groupchat; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_groupchat (
    id bigint NOT NULL,
    group_name character varying(100) NOT NULL,
    group_id uuid NOT NULL,
    private_group boolean NOT NULL,
    group_leader_id integer,
    leader_talk_only boolean NOT NULL,
    created_on timestamp with time zone NOT NULL
);


ALTER TABLE public.spedger_main_groupchat OWNER TO dbuser;

--
-- Name: spedger_main_group_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_groupchat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_groupchatmsgs; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_groupchatmsgs (
    id bigint NOT NULL,
    additional_text text,
    created_at timestamp with time zone NOT NULL,
    group_chat_id bigint,
    slip_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_groupchatmsgs OWNER TO dbuser;

--
-- Name: spedger_main_groupchatmsgs_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_groupchatmsgs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_groupchatmsgs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_profile; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_profile (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    full_name character varying(200) NOT NULL,
    fav_team character varying(200),
    nationality character varying(200) NOT NULL,
    reason character varying(20) NOT NULL,
    private_acct boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    reveal_slips boolean NOT NULL,
    log_all_slips boolean NOT NULL,
    user_id integer NOT NULL,
    background_img character varying(50),
    profile_img character varying(50)
);


ALTER TABLE public.spedger_main_profile OWNER TO dbuser;

--
-- Name: spedger_main_profile_friends; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_profile_friends (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_profile_friends OWNER TO dbuser;

--
-- Name: spedger_main_profile_friends_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_profile_friends ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_profile_friends_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_profile_groups; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_profile_groups (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    groupchat_id bigint NOT NULL
);


ALTER TABLE public.spedger_main_profile_groups OWNER TO dbuser;

--
-- Name: spedger_main_profile_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_profile_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_profile_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_profile_muted_users; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_profile_muted_users (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_profile_muted_users OWNER TO dbuser;

--
-- Name: spedger_main_profile_muted_users_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_profile_muted_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_profile_muted_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_profile_viewers; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_profile_viewers (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_profile_viewers OWNER TO dbuser;

--
-- Name: spedger_main_profile_viewers_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_profile_viewers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_profile_viewers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_slip; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_slip (
    id bigint NOT NULL,
    slip_code character varying(30) NOT NULL,
    settled boolean NOT NULL,
    slip_won boolean NOT NULL,
    total_odds numeric(30,2),
    weekly boolean NOT NULL,
    entry_date timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.spedger_main_slip OWNER TO dbuser;

--
-- Name: spedger_main_slip_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_slip ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_slip_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_slipevent; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_slipevent (
    id bigint NOT NULL,
    participants jsonb NOT NULL,
    pick character varying(200) NOT NULL,
    market character varying(200) NOT NULL,
    sport character varying(50) NOT NULL,
    competition character varying(200),
    event_odd numeric(30,2),
    event_won boolean NOT NULL,
    event_settled boolean NOT NULL,
    event_date timestamp with time zone NOT NULL,
    slip_id bigint NOT NULL,
    event_id character varying(40),
    event_cancelled boolean NOT NULL,
    event_postponed boolean NOT NULL
);


ALTER TABLE public.spedger_main_slipevent OWNER TO dbuser;

--
-- Name: spedger_main_slipevent_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_slipevent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_slipevent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_weeklygame; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_weeklygame (
    id bigint NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    current_game boolean NOT NULL
);


ALTER TABLE public.spedger_main_weeklygame OWNER TO dbuser;

--
-- Name: spedger_main_weeklygame_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_weeklygame ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_weeklygame_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: spedger_main_weeklygameparticipant; Type: TABLE; Schema: public; Owner: dbuser
--

CREATE TABLE public.spedger_main_weeklygameparticipant (
    id bigint NOT NULL,
    slip_id bigint NOT NULL,
    user_id integer NOT NULL,
    wkly_game_id bigint NOT NULL,
    ranking integer,
    CONSTRAINT spedger_main_weeklygameparticipant_rank_check CHECK ((ranking >= 0))
);


ALTER TABLE public.spedger_main_weeklygameparticipant OWNER TO dbuser;

--
-- Name: spedger_main_weeklygameparticipant_id_seq; Type: SEQUENCE; Schema: public; Owner: dbuser
--

ALTER TABLE public.spedger_main_weeklygameparticipant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.spedger_main_weeklygameparticipant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
2	admin@gmail.com	f	f	1
6	nosayamejeffrey@gmail.com	t	t	18
7	jeffreynosayame06@gmail.com	t	t	19
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: django_celery_beat_clockedschedule; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_beat_clockedschedule (id, clocked_time) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_crontabschedule; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_beat_crontabschedule (id, minute, hour, day_of_week, day_of_month, month_of_year, timezone) FROM stdin;
1	0	4	*	*	*	UTC
\.


--
-- Data for Name: django_celery_beat_intervalschedule; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_beat_intervalschedule (id, every, period) FROM stdin;
1	120	seconds
2	300	seconds
3	1800	seconds
\.


--
-- Data for Name: django_celery_beat_periodictask; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: django_celery_beat_periodictasks; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_beat_periodictasks (ident, last_update) FROM stdin;
1	2026-05-21 04:06:30.282576+00
\.


--
-- Data for Name: django_celery_beat_solarschedule; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_beat_solarschedule (id, event, latitude, longitude) FROM stdin;
\.


--
-- Data for Name: django_celery_results_chordcounter; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_results_chordcounter (id, group_id, sub_tasks, count) FROM stdin;
\.


--
-- Data for Name: django_celery_results_groupresult; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.django_celery_results_groupresult (id, group_id, date_created, date_done, content_type, content_encoding, result) FROM stdin;
\.


--
-- Data for Name: django_celery_results_taskresult; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_customerror; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_deletereason; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_deletereason (id, reason, date) FROM stdin;
\.


--
-- Data for Name: spedger_main_diaryentry; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_diaryentry (id, slip_id, created_at, user_id) FROM stdin;
49	89	2026-01-12 16:43:35.977133+00	18
60	169	2026-02-20 09:32:05.629623+00	19
63	172	2026-02-20 09:32:33.459685+00	19
64	173	2026-02-20 09:32:48.744635+00	19
65	174	2026-02-20 09:32:58.175596+00	19
67	176	2026-02-20 09:33:17.410393+00	19
69	183	2026-02-28 20:57:21.110515+00	19
76	190	2026-02-28 20:59:05.537142+00	19
78	192	2026-03-19 07:40:45.221825+00	19
79	197	2026-04-03 23:36:01.448301+00	18
81	199	2026-05-12 03:16:25.853389+00	18
\.


--
-- Data for Name: spedger_main_duel; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_duellistinfo; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_feedback; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_feedback (id, message, status, created_at, user_id) FROM stdin;
2	I want to be able to add my own profile pics	unattended	2026-01-09 12:42:15.490718+00	19
\.


--
-- Data for Name: spedger_main_friendrequest; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_friendrequest (id, time_sent, recipient_id, sender_id, status) FROM stdin;
22	2026-02-12 10:30:09.385219+00	18	19	accepted
\.


--
-- Data for Name: spedger_main_groupchat; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_groupchat (id, group_name, group_id, private_group, group_leader_id, leader_talk_only, created_on) FROM stdin;
21	Passive Predictors	db1a1dcb-df84-4a6e-a5dd-676968819c7f	f	19	f	2026-01-12 06:27:55.862079+00
23	Baseball Fanatics	fe44682a-6456-404f-b81f-0f1958bfaf55	t	19	t	2026-01-12 09:15:49.286073+00
\.


--
-- Data for Name: spedger_main_groupchat_banned_users; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_groupchat_banned_users (id, groupchat_id, user_id) FROM stdin;
\.


--
-- Data for Name: spedger_main_groupchatmsgs; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_profile; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_profile (id, public_id, full_name, fav_team, nationality, reason, private_acct, created_at, reveal_slips, log_all_slips, user_id, background_img, profile_img) FROM stdin;
9	8a6c8fd6-6cc2-4c51-9cd2-83a49ffd339c	Idahosa Nosa	Real Madrid	Nigeria	fun	f	2025-12-26 12:06:43.646587+00	t	f	18	background6	avatar20
10	e3ac3bfd-b450-43d1-afe4-fae824f61683	Idahosa Nosa	\N	Nigeria	addiction	f	2025-12-26 12:40:52.408142+00	t	f	19	background1	avatar5
\.


--
-- Data for Name: spedger_main_profile_friends; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_profile_friends (id, profile_id, user_id) FROM stdin;
16	9	19
17	10	18
\.


--
-- Data for Name: spedger_main_profile_groups; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_profile_groups (id, profile_id, groupchat_id) FROM stdin;
7	10	21
28	9	23
31	9	21
32	10	23
\.


--
-- Data for Name: spedger_main_profile_muted_users; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_profile_muted_users (id, profile_id, user_id) FROM stdin;
\.


--
-- Data for Name: spedger_main_profile_viewers; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_profile_viewers (id, profile_id, user_id) FROM stdin;
14	10	18
\.


--
-- Data for Name: spedger_main_slip; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_slipevent; Type: TABLE DATA; Schema: public; Owner: dbuser
--



--
-- Data for Name: spedger_main_weeklygame; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_weeklygame (id, start_date, end_date, current_game) FROM stdin;
1	2026-01-16 00:00:00+00	2026-01-20 00:00:00+00	f
2	2026-03-20 01:00:00+00	2026-03-24 01:00:00+00	f
3	2026-04-03 01:00:00+00	2026-04-07 01:00:00+00	f
5	2026-05-22 01:00:00+00	2026-05-26 01:00:00+00	t
4	2026-05-15 01:00:00+00	2026-05-19 01:00:00+00	f
\.


--
-- Data for Name: spedger_main_weeklygameparticipant; Type: TABLE DATA; Schema: public; Owner: dbuser
--

COPY public.spedger_main_weeklygameparticipant (id, slip_id, user_id, wkly_game_id, ranking) FROM stdin;
3	164	19	1	1
4	167	18	1	2
5	193	19	2	2
6	194	18	2	1
7	195	19	3	1
8	196	18	3	2
9	204	18	4	1
10	205	19	4	2
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 7, true);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 132, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 19, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 117, true);


--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_beat_clockedschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_beat_crontabschedule_id_seq', 1, true);


--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_beat_intervalschedule_id_seq', 3, true);


--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_beat_periodictask_id_seq', 5, true);


--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_beat_solarschedule_id_seq', 1, false);


--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_results_chordcounter_id_seq', 1, false);


--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_results_groupresult_id_seq', 1, false);


--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_celery_results_taskresult_id_seq', 5655, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 32, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 94, true);


--
-- Name: spedger_main_customerror_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_customerror_id_seq', 2691, true);


--
-- Name: spedger_main_deletereason_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_deletereason_id_seq', 10, true);


--
-- Name: spedger_main_diaryentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_diaryentry_id_seq', 81, true);


--
-- Name: spedger_main_duel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_duel_id_seq', 27, true);


--
-- Name: spedger_main_duellistinfo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_duellistinfo_id_seq', 50, true);


--
-- Name: spedger_main_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_feedback_id_seq', 2, true);


--
-- Name: spedger_main_friendrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_friendrequest_id_seq', 22, true);


--
-- Name: spedger_main_group_banned_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_group_banned_users_id_seq', 3, true);


--
-- Name: spedger_main_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_group_id_seq', 25, true);


--
-- Name: spedger_main_groupchatmsgs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_groupchatmsgs_id_seq', 65, true);


--
-- Name: spedger_main_profile_friends_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_profile_friends_id_seq', 17, true);


--
-- Name: spedger_main_profile_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_profile_groups_id_seq', 32, true);


--
-- Name: spedger_main_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_profile_id_seq', 10, true);


--
-- Name: spedger_main_profile_muted_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_profile_muted_users_id_seq', 7, true);


--
-- Name: spedger_main_profile_viewers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_profile_viewers_id_seq', 14, true);


--
-- Name: spedger_main_slip_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_slip_id_seq', 205, true);


--
-- Name: spedger_main_slipevent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_slipevent_id_seq', 2655, true);


--
-- Name: spedger_main_weeklygame_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_weeklygame_id_seq', 5, true);


--
-- Name: spedger_main_weeklygameparticipant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbuser
--

SELECT pg_catalog.setval('public.spedger_main_weeklygameparticipant_id_seq', 10, true);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_clockedschedule django_celery_beat_clockedschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_clockedschedule
    ADD CONSTRAINT django_celery_beat_clockedschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_crontabschedule django_celery_beat_crontabschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_crontabschedule
    ADD CONSTRAINT django_celery_beat_crontabschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_intervalschedule django_celery_beat_intervalschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_intervalschedule
    ADD CONSTRAINT django_celery_beat_intervalschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_name_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_name_key UNIQUE (name);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictasks django_celery_beat_periodictasks_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictasks
    ADD CONSTRAINT django_celery_beat_periodictasks_pkey PRIMARY KEY (ident);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq UNIQUE (event, latitude, longitude);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solarschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solarschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_group_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_group_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_task_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_task_id_key UNIQUE (task_id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: spedger_main_customerror spedger_main_customerror_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_customerror
    ADD CONSTRAINT spedger_main_customerror_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_deletereason spedger_main_deletereason_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_deletereason
    ADD CONSTRAINT spedger_main_deletereason_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_diaryentry spedger_main_diaryentry_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_diaryentry
    ADD CONSTRAINT spedger_main_diaryentry_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_duel spedger_main_duel_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duel
    ADD CONSTRAINT spedger_main_duel_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_duellistinfo spedger_main_duellistinfo_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duellistinfo
    ADD CONSTRAINT spedger_main_duellistinfo_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_feedback spedger_main_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_feedback
    ADD CONSTRAINT spedger_main_feedback_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_friendrequest spedger_main_friendrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_friendrequest
    ADD CONSTRAINT spedger_main_friendrequest_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_groupchat_banned_users spedger_main_group_banned_users_group_id_user_id_6ae131f8_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat_banned_users
    ADD CONSTRAINT spedger_main_group_banned_users_group_id_user_id_6ae131f8_uniq UNIQUE (groupchat_id, user_id);


--
-- Name: spedger_main_groupchat_banned_users spedger_main_group_banned_users_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat_banned_users
    ADD CONSTRAINT spedger_main_group_banned_users_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_groupchat spedger_main_group_group_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat
    ADD CONSTRAINT spedger_main_group_group_id_key UNIQUE (group_id);


--
-- Name: spedger_main_groupchat spedger_main_group_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat
    ADD CONSTRAINT spedger_main_group_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_groupchatmsgs spedger_main_groupchatmsgs_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchatmsgs
    ADD CONSTRAINT spedger_main_groupchatmsgs_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile_friends spedger_main_profile_friends_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_friends
    ADD CONSTRAINT spedger_main_profile_friends_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile_friends spedger_main_profile_friends_profile_id_user_id_da13a9cb_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_friends
    ADD CONSTRAINT spedger_main_profile_friends_profile_id_user_id_da13a9cb_uniq UNIQUE (profile_id, user_id);


--
-- Name: spedger_main_profile_groups spedger_main_profile_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_groups
    ADD CONSTRAINT spedger_main_profile_groups_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile_groups spedger_main_profile_groups_profile_id_group_id_69aa4326_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_groups
    ADD CONSTRAINT spedger_main_profile_groups_profile_id_group_id_69aa4326_uniq UNIQUE (profile_id, groupchat_id);


--
-- Name: spedger_main_profile_muted_users spedger_main_profile_mut_profile_id_user_id_dcd99131_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_muted_users
    ADD CONSTRAINT spedger_main_profile_mut_profile_id_user_id_dcd99131_uniq UNIQUE (profile_id, user_id);


--
-- Name: spedger_main_profile_muted_users spedger_main_profile_muted_users_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_muted_users
    ADD CONSTRAINT spedger_main_profile_muted_users_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile spedger_main_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile
    ADD CONSTRAINT spedger_main_profile_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile spedger_main_profile_public_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile
    ADD CONSTRAINT spedger_main_profile_public_id_key UNIQUE (public_id);


--
-- Name: spedger_main_profile spedger_main_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile
    ADD CONSTRAINT spedger_main_profile_user_id_key UNIQUE (user_id);


--
-- Name: spedger_main_profile_viewers spedger_main_profile_viewers_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_viewers
    ADD CONSTRAINT spedger_main_profile_viewers_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_profile_viewers spedger_main_profile_viewers_profile_id_user_id_2d568a18_uniq; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_viewers
    ADD CONSTRAINT spedger_main_profile_viewers_profile_id_user_id_2d568a18_uniq UNIQUE (profile_id, user_id);


--
-- Name: spedger_main_slip spedger_main_slip_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_slip
    ADD CONSTRAINT spedger_main_slip_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_slipevent spedger_main_slipevent_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_slipevent
    ADD CONSTRAINT spedger_main_slipevent_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_weeklygame spedger_main_weeklygame_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_weeklygame
    ADD CONSTRAINT spedger_main_weeklygame_pkey PRIMARY KEY (id);


--
-- Name: spedger_main_weeklygameparticipant spedger_main_weeklygameparticipant_pkey; Type: CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_weeklygameparticipant
    ADD CONSTRAINT spedger_main_weeklygameparticipant_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_cele_date_cr_bd6c1d_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_date_cr_bd6c1d_idx ON public.django_celery_results_groupresult USING btree (date_created);


--
-- Name: django_cele_date_cr_f04a50_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_date_cr_f04a50_idx ON public.django_celery_results_taskresult USING btree (date_created);


--
-- Name: django_cele_date_do_caae0e_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_date_do_caae0e_idx ON public.django_celery_results_groupresult USING btree (date_done);


--
-- Name: django_cele_date_do_f59aad_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_date_do_f59aad_idx ON public.django_celery_results_taskresult USING btree (date_done);


--
-- Name: django_cele_periodi_1993cf_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_periodi_1993cf_idx ON public.django_celery_results_taskresult USING btree (periodic_task_name);


--
-- Name: django_cele_status_9b6201_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_status_9b6201_idx ON public.django_celery_results_taskresult USING btree (status);


--
-- Name: django_cele_task_na_08aec9_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_task_na_08aec9_idx ON public.django_celery_results_taskresult USING btree (task_name);


--
-- Name: django_cele_worker_d54dd8_idx; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_cele_worker_d54dd8_idx ON public.django_celery_results_taskresult USING btree (worker);


--
-- Name: django_celery_beat_periodictask_clocked_id_47a69f82; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_beat_periodictask_clocked_id_47a69f82 ON public.django_celery_beat_periodictask USING btree (clocked_id);


--
-- Name: django_celery_beat_periodictask_crontab_id_d3cba168; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_beat_periodictask_crontab_id_d3cba168 ON public.django_celery_beat_periodictask USING btree (crontab_id);


--
-- Name: django_celery_beat_periodictask_interval_id_a8ca27da; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_beat_periodictask_interval_id_a8ca27da ON public.django_celery_beat_periodictask USING btree (interval_id);


--
-- Name: django_celery_beat_periodictask_name_265a36b7_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_beat_periodictask_name_265a36b7_like ON public.django_celery_beat_periodictask USING btree (name varchar_pattern_ops);


--
-- Name: django_celery_beat_periodictask_solar_id_a87ce72c; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_beat_periodictask_solar_id_a87ce72c ON public.django_celery_beat_periodictask USING btree (solar_id);


--
-- Name: django_celery_results_chordcounter_group_id_1f70858c_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_results_chordcounter_group_id_1f70858c_like ON public.django_celery_results_chordcounter USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_groupresult_group_id_a085f1a9_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_results_groupresult_group_id_a085f1a9_like ON public.django_celery_results_groupresult USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_taskresult_task_id_de0d95bf_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_celery_results_taskresult_task_id_de0d95bf_like ON public.django_celery_results_taskresult USING btree (task_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: spedger_main_diaryentry_slip_id_38bf35df; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_diaryentry_slip_id_38bf35df ON public.spedger_main_diaryentry USING btree (slip_id);


--
-- Name: spedger_main_diaryentry_user_id_b764b4ab; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_diaryentry_user_id_b764b4ab ON public.spedger_main_diaryentry USING btree (user_id);


--
-- Name: spedger_main_duel_winning_user_id_6142b717; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_duel_winning_user_id_6142b717 ON public.spedger_main_duel USING btree (winning_user_id);


--
-- Name: spedger_main_duellistinfo_duel_obj_id_10190d1a; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_duellistinfo_duel_obj_id_10190d1a ON public.spedger_main_duellistinfo USING btree (duel_obj_id);


--
-- Name: spedger_main_duellistinfo_slip_id_35196dfe; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_duellistinfo_slip_id_35196dfe ON public.spedger_main_duellistinfo USING btree (slip_id);


--
-- Name: spedger_main_duellistinfo_user_id_08de7a3a; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_duellistinfo_user_id_08de7a3a ON public.spedger_main_duellistinfo USING btree (user_id);


--
-- Name: spedger_main_feedback_user_id_ac7bfe87; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_feedback_user_id_ac7bfe87 ON public.spedger_main_feedback USING btree (user_id);


--
-- Name: spedger_main_friendrequest_recipient_id_17e963f0; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_friendrequest_recipient_id_17e963f0 ON public.spedger_main_friendrequest USING btree (recipient_id);


--
-- Name: spedger_main_friendrequest_sender_id_2b4664ee; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_friendrequest_sender_id_2b4664ee ON public.spedger_main_friendrequest USING btree (sender_id);


--
-- Name: spedger_main_group_banned_users_group_id_57c0a04a; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_group_banned_users_group_id_57c0a04a ON public.spedger_main_groupchat_banned_users USING btree (groupchat_id);


--
-- Name: spedger_main_group_banned_users_user_id_00093846; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_group_banned_users_user_id_00093846 ON public.spedger_main_groupchat_banned_users USING btree (user_id);


--
-- Name: spedger_main_group_group_leader_id_54b5ca9a; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_group_group_leader_id_54b5ca9a ON public.spedger_main_groupchat USING btree (group_leader_id);


--
-- Name: spedger_main_groupchatmsgs_group_chat_id_ba8597ea; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_groupchatmsgs_group_chat_id_ba8597ea ON public.spedger_main_groupchatmsgs USING btree (group_chat_id);


--
-- Name: spedger_main_groupchatmsgs_slip_id_7f8b6f7c; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_groupchatmsgs_slip_id_7f8b6f7c ON public.spedger_main_groupchatmsgs USING btree (slip_id);


--
-- Name: spedger_main_groupchatmsgs_user_id_712c632f; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_groupchatmsgs_user_id_712c632f ON public.spedger_main_groupchatmsgs USING btree (user_id);


--
-- Name: spedger_main_profile_friends_profile_id_93de4533; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_friends_profile_id_93de4533 ON public.spedger_main_profile_friends USING btree (profile_id);


--
-- Name: spedger_main_profile_friends_user_id_9f2c43c9; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_friends_user_id_9f2c43c9 ON public.spedger_main_profile_friends USING btree (user_id);


--
-- Name: spedger_main_profile_groups_group_id_54d0d01a; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_groups_group_id_54d0d01a ON public.spedger_main_profile_groups USING btree (groupchat_id);


--
-- Name: spedger_main_profile_groups_profile_id_348bc93f; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_groups_profile_id_348bc93f ON public.spedger_main_profile_groups USING btree (profile_id);


--
-- Name: spedger_main_profile_muted_users_profile_id_3a8a03cc; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_muted_users_profile_id_3a8a03cc ON public.spedger_main_profile_muted_users USING btree (profile_id);


--
-- Name: spedger_main_profile_muted_users_user_id_05fd2e20; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_muted_users_user_id_05fd2e20 ON public.spedger_main_profile_muted_users USING btree (user_id);


--
-- Name: spedger_main_profile_viewers_profile_id_d549da24; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_viewers_profile_id_d549da24 ON public.spedger_main_profile_viewers USING btree (profile_id);


--
-- Name: spedger_main_profile_viewers_user_id_9828b87f; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_profile_viewers_user_id_9828b87f ON public.spedger_main_profile_viewers USING btree (user_id);


--
-- Name: spedger_main_slip_user_id_dbfa344e; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_slip_user_id_dbfa344e ON public.spedger_main_slip USING btree (user_id);


--
-- Name: spedger_main_slipevent_slip_id_d55a21e7; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_slipevent_slip_id_d55a21e7 ON public.spedger_main_slipevent USING btree (slip_id);


--
-- Name: spedger_main_weeklygameparticipant_slip_id_91d6aa00; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_weeklygameparticipant_slip_id_91d6aa00 ON public.spedger_main_weeklygameparticipant USING btree (slip_id);


--
-- Name: spedger_main_weeklygameparticipant_user_id_3842abc1; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_weeklygameparticipant_user_id_3842abc1 ON public.spedger_main_weeklygameparticipant USING btree (user_id);


--
-- Name: spedger_main_weeklygameparticipant_wkly_game_id_dc78570b; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE INDEX spedger_main_weeklygameparticipant_wkly_game_id_dc78570b ON public.spedger_main_weeklygameparticipant USING btree (wkly_game_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: dbuser
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_clocked_id_47a69f82_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_clocked_id_47a69f82_fk_django_ce FOREIGN KEY (clocked_id) REFERENCES public.django_celery_beat_clockedschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_crontab_id_d3cba168_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_crontab_id_d3cba168_fk_django_ce FOREIGN KEY (crontab_id) REFERENCES public.django_celery_beat_crontabschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_interval_id_a8ca27da_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_interval_id_a8ca27da_fk_django_ce FOREIGN KEY (interval_id) REFERENCES public.django_celery_beat_intervalschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_solar_id_a87ce72c_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_solar_id_a87ce72c_fk_django_ce FOREIGN KEY (solar_id) REFERENCES public.django_celery_beat_solarschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_diaryentry spedger_main_diaryen_slip_id_38bf35df_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_diaryentry
    ADD CONSTRAINT spedger_main_diaryen_slip_id_38bf35df_fk_spedger_m FOREIGN KEY (slip_id) REFERENCES public.spedger_main_slip(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_diaryentry spedger_main_diaryentry_user_id_b764b4ab_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_diaryentry
    ADD CONSTRAINT spedger_main_diaryentry_user_id_b764b4ab_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_duel spedger_main_duel_winning_user_id_6142b717_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duel
    ADD CONSTRAINT spedger_main_duel_winning_user_id_6142b717_fk_auth_user_id FOREIGN KEY (winning_user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_duellistinfo spedger_main_duellis_duel_obj_id_10190d1a_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duellistinfo
    ADD CONSTRAINT spedger_main_duellis_duel_obj_id_10190d1a_fk_spedger_m FOREIGN KEY (duel_obj_id) REFERENCES public.spedger_main_duel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_duellistinfo spedger_main_duellis_slip_id_35196dfe_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duellistinfo
    ADD CONSTRAINT spedger_main_duellis_slip_id_35196dfe_fk_spedger_m FOREIGN KEY (slip_id) REFERENCES public.spedger_main_slip(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_duellistinfo spedger_main_duellistinfo_user_id_08de7a3a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_duellistinfo
    ADD CONSTRAINT spedger_main_duellistinfo_user_id_08de7a3a_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_feedback spedger_main_feedback_user_id_ac7bfe87_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_feedback
    ADD CONSTRAINT spedger_main_feedback_user_id_ac7bfe87_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_friendrequest spedger_main_friendr_recipient_id_17e963f0_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_friendrequest
    ADD CONSTRAINT spedger_main_friendr_recipient_id_17e963f0_fk_auth_user FOREIGN KEY (recipient_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_friendrequest spedger_main_friendrequest_sender_id_2b4664ee_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_friendrequest
    ADD CONSTRAINT spedger_main_friendrequest_sender_id_2b4664ee_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchat_banned_users spedger_main_group_b_user_id_00093846_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat_banned_users
    ADD CONSTRAINT spedger_main_group_b_user_id_00093846_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchat spedger_main_group_group_leader_id_54b5ca9a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat
    ADD CONSTRAINT spedger_main_group_group_leader_id_54b5ca9a_fk_auth_user_id FOREIGN KEY (group_leader_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchatmsgs spedger_main_groupch_group_chat_id_ba8597ea_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchatmsgs
    ADD CONSTRAINT spedger_main_groupch_group_chat_id_ba8597ea_fk_spedger_m FOREIGN KEY (group_chat_id) REFERENCES public.spedger_main_groupchat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchat_banned_users spedger_main_groupch_groupchat_id_753d05c4_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchat_banned_users
    ADD CONSTRAINT spedger_main_groupch_groupchat_id_753d05c4_fk_spedger_m FOREIGN KEY (groupchat_id) REFERENCES public.spedger_main_groupchat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchatmsgs spedger_main_groupch_slip_id_7f8b6f7c_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchatmsgs
    ADD CONSTRAINT spedger_main_groupch_slip_id_7f8b6f7c_fk_spedger_m FOREIGN KEY (slip_id) REFERENCES public.spedger_main_slip(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_groupchatmsgs spedger_main_groupchatmsgs_user_id_712c632f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_groupchatmsgs
    ADD CONSTRAINT spedger_main_groupchatmsgs_user_id_712c632f_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_friends spedger_main_profile_friends_user_id_9f2c43c9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_friends
    ADD CONSTRAINT spedger_main_profile_friends_user_id_9f2c43c9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_groups spedger_main_profile_groupchat_id_9e300be2_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_groups
    ADD CONSTRAINT spedger_main_profile_groupchat_id_9e300be2_fk_spedger_m FOREIGN KEY (groupchat_id) REFERENCES public.spedger_main_groupchat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_groups spedger_main_profile_profile_id_348bc93f_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_groups
    ADD CONSTRAINT spedger_main_profile_profile_id_348bc93f_fk_spedger_m FOREIGN KEY (profile_id) REFERENCES public.spedger_main_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_muted_users spedger_main_profile_profile_id_3a8a03cc_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_muted_users
    ADD CONSTRAINT spedger_main_profile_profile_id_3a8a03cc_fk_spedger_m FOREIGN KEY (profile_id) REFERENCES public.spedger_main_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_friends spedger_main_profile_profile_id_93de4533_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_friends
    ADD CONSTRAINT spedger_main_profile_profile_id_93de4533_fk_spedger_m FOREIGN KEY (profile_id) REFERENCES public.spedger_main_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_viewers spedger_main_profile_profile_id_d549da24_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_viewers
    ADD CONSTRAINT spedger_main_profile_profile_id_d549da24_fk_spedger_m FOREIGN KEY (profile_id) REFERENCES public.spedger_main_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_muted_users spedger_main_profile_user_id_05fd2e20_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_muted_users
    ADD CONSTRAINT spedger_main_profile_user_id_05fd2e20_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile spedger_main_profile_user_id_734fce71_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile
    ADD CONSTRAINT spedger_main_profile_user_id_734fce71_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_profile_viewers spedger_main_profile_viewers_user_id_9828b87f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_profile_viewers
    ADD CONSTRAINT spedger_main_profile_viewers_user_id_9828b87f_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_slip spedger_main_slip_user_id_dbfa344e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_slip
    ADD CONSTRAINT spedger_main_slip_user_id_dbfa344e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_slipevent spedger_main_slipevent_slip_id_d55a21e7_fk_spedger_main_slip_id; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_slipevent
    ADD CONSTRAINT spedger_main_slipevent_slip_id_d55a21e7_fk_spedger_main_slip_id FOREIGN KEY (slip_id) REFERENCES public.spedger_main_slip(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_weeklygameparticipant spedger_main_weeklyg_slip_id_91d6aa00_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_weeklygameparticipant
    ADD CONSTRAINT spedger_main_weeklyg_slip_id_91d6aa00_fk_spedger_m FOREIGN KEY (slip_id) REFERENCES public.spedger_main_slip(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_weeklygameparticipant spedger_main_weeklyg_user_id_3842abc1_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_weeklygameparticipant
    ADD CONSTRAINT spedger_main_weeklyg_user_id_3842abc1_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spedger_main_weeklygameparticipant spedger_main_weeklyg_wkly_game_id_dc78570b_fk_spedger_m; Type: FK CONSTRAINT; Schema: public; Owner: dbuser
--

ALTER TABLE ONLY public.spedger_main_weeklygameparticipant
    ADD CONSTRAINT spedger_main_weeklyg_wkly_game_id_dc78570b_fk_spedger_m FOREIGN KEY (wkly_game_id) REFERENCES public.spedger_main_weeklygame(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict vZHjhluqBuPBT052uqlxbmGbhrtxPbEqAHZ8vacxUZTRmbhhpLZyKA1VjOkzp2e

