{% load static %}
{% load custom_filters %}

<section class="requests_holder">
    <article class="sent_requests requests active_tab2" id="sentRequests" role="tabpanel">
    {% if sent_requests %}
    
        <div class="user_requests_list">

            {% for f_request in sent_requests %}
                <div class="user_request" hx-post = "{% url 'delete_request' f_request.id %}" hx-trigger = "click from:.delete_sent_btn{{ f_request.id }}" hx-swap = "delete swap:1s" hx-target = "this">

                    <figure class="request_main">
                        <a href="{% url 'profile' f_request.recipient.user_profile.public_id %}"> 
                            <img src="{% static f_request.recipient.user_profile.avatar %}" alt="{{ f_request.recipient.username }} profile image"> 
                        </a>
                        
                        <figcaption>
                            <p class="request_username txt_ellipse ">
                                {{ f_request.recipient.username }}
                            </p>
                            <p class="request_date txt_ellipse">
                                {{ f_request.time_sent|timesince|format_timesince }} ago.
                            </p>
                        </figcaption>
                    </figure>

                    <div class="request_sub">
                        <span class = "request_status {{ f_request.status }}"></span>

                        <button class="icon_btn delete_sent_btn{{ f_request.id }}" > 
                            <i class="ri-delete-bin-line"></i> 
                        </button>
                    </div>

                </div>
            {% endfor %}

        </div>

        <div class="requests_options footer_btn" >
            <button class="btn2_ share_btn" hx-post = "{% url 'delete_request' 'all' %}" hx-swap = 'none'>
                Delete All
            </button>
        </div>
    
    {% else %}
        <div class="center_info">
            <p class="center_info_txt">No requests have been sent </p>
        </div>
    {% endif %}

    </article>
    

    <article class="received_requests requests" id="receivedRequests" role="tabpanel">
    {% if received_requests %}

        <div class="user_requests_list">
            {% for r_request in received_requests %}
                <div class="user_request" id = "r_request_{{ r_request.id }}">

                    <figure class="request_main">
                        <a href="{% url 'profile' r_request.sender.user_profile.public_id %}"> 
                            <img src="{% static r_request.sender.user_profile.avatar %}" alt="{{ r_request.sender.username }} profile image"> 
                        </a>

                        <figcaption>
                            <p class="request_username txt_ellipse">
                                {{ r_request.sender.username }}
                            </p>
                            <p class="request_date txt_ellipse">
                                {{ r_request.time_sent|timesince|format_timesince }} ago.
                            </p>
                        </figcaption>
                    </figure>

                    <div class="request_sub">
                        <button class="icon_btn" title="accept request" hx-post = '{% url "accept_request" r_request.id %}' hx-target = "#r_request_{{ r_request.id }}" hx-swap = "delete swap:1s"> 
                            <i class="ri-checkbox-circle-fill"></i> 
                        </button>

                        <button class="icon_btn" title="reject request" hx-post = '{% url "reject_request" r_request.id %}' hx-target = "#r_request_{{ r_request.id }}" hx-swap = "delete swap:1s">
                            <i class="ri-close-circle-fill"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="requests_options footer_btn" >
            <button class="btn2_ share_btn" hx-post = "{% url 'accept_request' 'all' %}" hx-swap = 'none'>
                Accept All
            </button>

            <button class="btn2_ share_btn" hx-post = "{% url 'reject_request' 'all' %}" hx-swap = 'none'>
                Reject All
            </button>
        </div>
    
    {% else %}
        <div class="center_info">
            <p class="center_info_txt">You have not received any requests</p>
        </div>
    {% endif %}
    </article>
</section>