{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Log your predictions in a clear, easy-to-read format and compete with others to test your knowledge and make connections with other users.">

    <title>
        {% block title %}  {% endblock %} - Spedger - Log your Sports Predictions
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href= "{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href= "{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href= "{% static 'favicon/site.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}  {% endblock %}
    
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>

    <div class="layout">
        <aside class="sidebar">
            <header>
                <figure class="profile dropdown_container">
                    <a href="{% url 'profile' user.user_profile.public_id %}" >
                        <img src="{% static profile_obj.avatar %}" alt="Profile photo" class="logo">
                    </a>

                    <span data-dropdown="logoutDropdown" >
                        <p class="username">
                            {% if user.user_profile.private_acct %}
                                <i class="ri-lock-line" title="Private account"></i>
                            {% endif %}
                            {{ user.username }}
                        </p> 
                        <p><i class="ri-arrow-down-s-line"></i> </p>
                    </span>

                    <div class="dropdown w_12" id="logoutDropdown">
                        <ul class="dropdown_list">
                            <li class="buttoned">
                                <a href="{% url 'account_logout' %}">Log out</a>
                            </li>
                        </ul>
                    </div>
                </figure>

                <span class = "dropdown_container notifs">
                    <button data-dropdown = "notificationDropdown" class="icon_btn notifs relt" data-dropdown-align ="left">
                        {% if total_notifs > 0 %}
                            <span class = "notif_dot"></span>
                            <i class="ri-notification-2-line"></i>
                        {% else %}
                            <i class="ri-notification-2-line"></i>
                        {% endif %}
                    </button>

                    <div class="dropdown w_12" id="notificationDropdown" >
                        <ul class="dropdown_list">
                            <li class="buttoned notif_list">
                                <a href="/users?tab=duels">
                                    <p class = "buttoned_subject">
                                        Duels
                                    </p>
                                    <span class = "buttoned_val"">{{ tt_duels }}</span>
                                </a>
                            </li>
                                
                            <li class="buttoned notif_list">
                                <a href="/users?tab=friend-requests">
                                    <p class="buttoned_subject">Requests</p>    
                                    <span class="buttoned_val">
                                        {{ tt_requests }}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </span>
                
            </header>

            <nav class="sidebar_nav">
                <a href="{% url 'my_diary' %}" class="sidebar_main {% if request.path == '/my-diary' %} active_item {% endif %}">
                    My Diary
                </a>

                <ul class="mainlist">
                    <li><a href="{% url 'home' %}" class="sidebar_item {% if request.path == '/home' %} active_item {% endif %}" data-icon-fill>
                        <i class="ri-home-3-line"></i> Home
                    </a></li>

                    <li><a href="{% url 'users' %}" class="sidebar_item {% if request.path == '/users' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-user-3-line"></i> Users
                    </a></li>

                    <li><a href="{% url 'groups' %}" class="sidebar_item {% if 'group' in request.path %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-group-3-line"></i> Groups
                    </a></li>

                    <li><a href="{% url 'leaderboards' %}" class="sidebar_item item_hidden {% if request.path == '/leaderboards' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-bar-chart-line"></i> Leaderboards
                    </a></li>

                    <li><a href="{% url 'preview' %}" class="sidebar_item {% if request.path == '/preview' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-edit-line"></i>
                        Preview Slip
                    </a></li>

                    <li><a href="{% url 'insights' %}" class="sidebar_item {% if request.path == '/insights' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-lightbulb-line"></i> Insights
                    </a></li>

                    <li><a href="{% url 'settings' %}" class="sidebar_item {% if request.path == '/settings' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-settings-3-line"></i> Settings
                    </a></li>

                    <li><a href="{% url 'support' %}" class="sidebar_item {% if request.path == '/support' %} active_item {% endif %}"" data-icon-fill>
                        <i class="ri-question-line"></i> Help & Support
                    </a></li>
                </ul>
            </nav>

            <footer class="sidebar_footer">
                <article class="contact">
                    <ul class="button_group">
                        <li>
                            <a href="https://x.com/yameh_office" class="btn_" target="_blank"> <i class="ri-twitter-x-line"></i> </a>
                        </li>
                        <li>
                            <a href="https://github.com/Stealth-J" class = "btn_" target="_blank"><i class="ri-github-fill"></i></a>
                        </li>
                        <li>
                            <a href="https://pin.it/3OzOdtC1A" class = "btn_" target="_blank"><i class="ri-pinterest-fill"></i></a>
                        </li>
                        <li>
                            <span class="dropdown_container">
                                <a class="btn_" data-dropdown = 'phoneDropdown'>
                                    <i class="ri-phone-fill"></i>
                                </a>
                            
                                <div class="dropdown not_list" id="phoneDropdown">
                                    <p><i class="ri-mail-line"></i> spedger.app@gmail.com </p>
                                    <p>+2348025193751</p>
                                </div>
                            </span>
                        </li>
                    </ul>
                </article>
                
                <article class="copyright">
                    <small>&copy; 2026 Spedger. All rights reserved.</small>
                </article>
            </footer>
        </aside>
        

        <main class="main_content">
            <!-- TOGGLE BUTTON -->
            <nav class="main_nav"> 
                <figure class="mobile_show">
                    <a href = "{% url 'home' %}"> <img src="{% static 'img/logos/spedger_short_logo.png' %}" alt="Logo" class="logo"> </a>
                </figure>

                <button class="sidebar_toggler mobile_show" onclick="toggleSidebar()">
                    <i class="ri-menu-line"></i>
                </button>

                <a href = "{% url 'leaderboards' %}" class="icon_btn boards_btn {% if request.path == '/leaderboards' %} active_item {% endif %}" >
                    <i class="ri-bar-chart-line"></i> Leaderboards
                </a>
            </nav>

            
            {% block content %}

            {% endblock %}

        </main>
    </div>

    <div class="sidebar_overlay" onclick="toggleSidebar()"></div>


    <aside class="float_container" hx-get = "{% url 'htmx_messages' %}" hx-trigger = "hx_message_init from:body">
        {% include 'partials/messages.html' %}
    </aside>




    {% block modals %}  {% endblock %}


    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}  {% endblock %}

</body>
</html>