{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block title %} Leaderboards {% endblock %}

{% block styles %} 
    <style>
        .main_nav{
            margin-bottom: 0 !important;
        }
        .leaderboards_page.boards_only .board{
            min-height: var(--height-content);
        }
        .game:first-of-type{
            padding-top: 0.7rem;
        }
        .game:last-of-type{
            padding-bottom: 1rem;
        }
        .game .home, .game .away{
            font-size: 0.85rem;
        }
        .wkly_form_helper_txt{
            color: var(--col-muted);
            margin: 1em 0;
            font-size: 0.9rem;
        }
        .wkly_form_holder{
            padding-top: 1.5rem;
        }
        .boards_container .center_info{
            margin-top: 4rem;
        }
        #customSpinner2{
            margin-bottom: 2rem;
        }
        #wklyGameForm .text_muted{
            font-size: 0.85rem;
        }


        @media screen and (max-width: 50rem) {
            .leaderboards_page.boards_only .board{
                min-height: calc(100vh - 4.9rem);
            }
        }
    </style>
{% endblock %}


{% block content %}

    <div class="leaderboards_page boards_only">
        {% if not profile_obj.private_acct %}

        <section class="wkly_form_holder" >
            <form id="wklyGameForm" hx-post = "{% url 'register_wkly_game' %}" hx-target = "#previewDisplay" hx-indicator = "#customSpinner" {% if is_current_player %} data-form-disable {% endif %} >
                <p class="form_header"> Play This Week's Game</p>
                
                <div class="form_flex">
                    <input type="text" placeholder="Slip code..." name = "slip_code" maxlength = "10" required autocomplete = "off" {% if is_current_player %} value = "{{ player_obj.slip.slip_code }}" readonly {% endif %}>
                </div>

                {% if previous_obj %}
                    <p class = "text_muted">Recent Rank: {{ previous_obj.ranking }}</p>
                {% endif %}

                {% if not is_current_player %}
                    <button class="form_action_btn" type = "submit"> 
                        Submit
                    </button>
                {% else %}
                    <p class = "wkly_form_helper_txt"> You have already registered for this game week<p>
                {% endif %}

                {% include 'partials/wkly_game_rules.html' %}

            </form>

            <article class="slip_preview" id = "previewDisplay">
                {% block preview_display_block %}
                {% if valid_games %}

                    <div class="center_info indicator_grp">
                        {% include 'partials/spinner.html' %}
                    </div>

                    <div class="preview_main">
                        <header id = "previewHeader">
                            <p> Preview </p>
                        </header>

                        <div class="wkly_games_list">
                            {% for game in valid_games %}
                        
                                <article class="game" id = "game{{ game.id_ }}">
                                    <article class="game_main">
                                        <div class="game_lhs">
                                            <p class="home txt_ellipse">{{ game.home_team }} </p>
                                            <p class="away txt_ellipse">{{ game.away_team }}</p>

                                            <span class="sport_icon_span">
                                                {% if game.sport_icon %}
                                                <img class="sport_icon" src = "{% static game.sport_icon %}" alt = '{{ game.sport }} icon'>
                                                {% endif %}
                                                <p class="pick"> 
                                                    {{ game.pick }}
                                                </p>
                                            </span>
                                        </div>

                                        <span class="game_rhs">
                                            <p class="odds">{{ game.odds }}</p>
                                        </span>
                                    </article>

                                    <article class="game_sub custom_details" data-detail-toggle = "game{{ game.id_ }}">
                                        <div class="market_info">
                                            <p class="pick"> {{ game.pick }}</p>
                                            <p class="market">{{ game.market_type }}</p>
                                        </div>

                                        <div class="comp_info">
                                            <p class="comp_name">{{ game.league }} </p>
                                            <p class="time">{{ game.start_time }}</p>
                                        </div>
                                    </article>
                                </article>

                            {% endfor %}
                        </div>
                    </div>
                
                {% else %}
                    <div class="center_info">
                        <span class = "htmx-indicator" id = "customSpinner"> 
                            <div class="loader">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </span>
                        
                        {% if not error_msg %}
                            <div class = "center_info_holder">
                                <span class="center_icon">
                                    <i class="ri-information-line"></i>
                                </span>
                                <p class="center_info_txt">{{ center_info_msg }}</p>
                            </div>
                        {% else %}
                            <div class = "center_info_holder">
                                <span class="center_icon error">
                                    <i class="ri-error-warning-line"></i>
                                </span>
                                <p class="center_info_txt error">{{ error_msg }}</p>
                            </div>
                        {% endif %}
                    </div> 

                {% endif %}
                {% endblock %}
            </article>

        </section>

        {% endif %}

        <section class = "boards_container">
            <section class="wkly_leaderboard leaderboard_" id="wklyLeaderboard" role = "tabpanel" data-tab-name = "weekly" aria-labelledby = "wklyLeaderboard">

                <section class="board">
                    <section class="board_title_tab">
                        <a data-tab2 = "wklyLeaderboard" role = "tab" tabindex = "-1" aria-controls = "wklyLeaderboard" aria-selected = "false"  class="msg_btn" hx-post = "{% url 'reload_leaderboards' 'wk' %}" hx-target = "#wklyBoards" hx-indicator = "#customSpinner2" hx-trigger = "click, every 1m">
                            Weekly
                        </a>

                        <a data-tab2 = "globalLeaderboard" role = "tab" tabindex = "-1" aria-controls = "globalLeaderboard" aria-selected = "false" class="msg_btn">
                            Global
                        </a>
                    </section>

                    <div class="htmx-indicator" id="customSpinner2">
                        <div class="loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    
                    {% if is_current_player and not profile_obj.private_acct %}
                        <aside class="your_wkly_info" data-button data-modal="yourInfoModal" aria-expanded="false" title="you">
                            <span> <i class="ri-user-4-line"></i> </span>
                        </aside>
                    {% endif %}
                    
                    {% if request.user.is_staff %}
                        <aside class="your_wkly_info" data-button data-modal="createNewGameModal" aria-expanded="false" title="create">
                            <span> <i class="ri-pencil-line"></i> </span>
                        </aside>
                    {% endif %}

                    <section id = "wklyBoards">
                        
                        {% block wkly_boards_block %}
                        {% if wkly_users|length > 0 %}

                            <div class="label wkly_label">
                                <label for="" class="percent_label">Win (%)</label>
                                <label for="" class="odds_label">Odds</label>
                            </div>

                            {% for w_user in wkly_users %}
                                <div class="user_row">
                                    <div class="user_card" data-bg = "{% static 'img/others/leaderboard_bg.png' %}">
                                        <section class="lhs">
                                            <span class="lb_position">
                                                {{ w_user.rank }}
                                            </span>
                                        
                                            <img src="{% static w_user.user.user_profile.avatar %}" alt="profile img" class="leaderboard_profile_img">

                                            <span class="lb_username">
                                                {% if w_user.user == request.user %}
                                                    You
                                                {% else %}
                                                    {{ w_user.user.username }}
                                                {% endif %}
                                            </span>
                                        </section>

                                        <section class="rhs">
                                            {% if w_user.rank == 1 %}
                                                <span class="lb_award">
                                                    <i class="ri-award-fill first_icon"></i>
                                                </span>
                                            {% endif %}
                                            <span class="lb_percent" title="win percentage">
                                                {{ w_user.accuracy|floatformat:1 }}
                                            </span>
                                            <span class="lb_odds" title="total odds">
                                                {{ w_user.slip.total_odds|filter_chat_odds }}
                                            </span>
                                        </section>
                                    </div>

                                    <div class="card_helpers">
                                        <span class="leaderboard_helper_btn">
                                            <a class = "wkly_extra_stats_btn" title="View slip code" aria-expanded="false" data-button {% if request.user != w_user.user %}data-modal = "slipCodeCopyModal" {% else %} data-modal = "yourInfoModal" {% endif %} >
                                                <i class="ri-menu-3-line"></i>
                                            </a>
                                        </span>
                                        
                                        <span class="leaderboard_helper_btn lb_profile" data-slip-info="{{ w_user.games_won|return_0_if_none }}/{{ w_user.total_events }}" data-slip-cut="{{ w_user.games_lost|return_0_if_none }}" >
                                            <a href="{% url 'profile' w_user.user.user_profile.public_id %}" title="View profile">
                                                <i class="ri-user-fill"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        {% else %}
                            <div class="center_info">
                                <p class="center_info_txt"> No data available for the leaderboard at this moment </p>
                            </div>

                        {% endif %}
                        {% endblock %}
                        
                    </section>

                    <article class="explanation">
                        <p><strong> Win %</strong> shows the percentage of games on a slip that have already been settled, compared to the total number of games that were entered. Games that were not played, cancelled, or cut are excluded from this calculation.</p>
                        <p><strong> Odds </strong> represent the combined (total) odds of all games on the slip.</p>
                    </article>
                </section>
            </section>
            
            <section class="global_leaderboard leaderboard_" id="globalLeaderboard" role = "tabpanel" data-tab-name = "global" aria-labelledby = "globalLeaderboard">
                <section class="board">
                    <section class="board_title_tab">
                        <a data-tab2 = "globalLeaderboard" role = "tab" tabindex = "-1" aria-controls = "globalLeaderboard" aria-selected = "false" class="msg_btn" hx-post = "{% url 'reload_leaderboards' 'global' %}" hx-target = "#globalBoards" hx-indicator = "#customSpinner3" hx-trigger = "click, every 1m">
                            Global
                        </a>
                        
                        <a data-tab2 = "wklyLeaderboard" role = "tab" tabindex = "-1" aria-controls = "wklyLeaderboard" aria-selected = "false"  class="msg_btn">
                            Weekly
                        </a>
                    </section>
                    
                    <div class="htmx-indicator" id="customSpinner3">
                        <div class="loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <section id = "globalBoards">
                        {% block global_boards_block %}
                        {% if global_users|length > 0 %}

                            <div class="label">
                                <label for="" class="percent_label"> Pure (%)</label>
                                <label for="" class="odds_label">Pure Odds</label>
                            </div>

                            {% for g_user in global_users %}
                                <div class="user_row">
                                    <div class="user_card">
                                        <section class="lhs">
                                            <span class="lb_position">
                                                {{ g_user.rank }}
                                            </span>
                                        
                                            <img src="{% static g_user.avatar %}" alt="profile_img" class="leaderboard_profile_img">

                                            <span class="lb_username">
                                                {% if g_user.user == request.user %}
                                                    You
                                                {% else %}
                                                    {{ g_user.user.username }}
                                                {% endif %}
                                            </span>
                                        </section>

                                        <section class="rhs">
                                            <span class="lb_percent" title="win percentage">
                                                {{ g_user.pure_percentage|floatformat:1 }}
                                            </span>
                                            <span class="lb_odds" title="total odds">
                                                {{ g_user.pure_odds|filter_chat_odds }}
                                            </span>
                                        </section>
                                    </div>

                                    <div class="card_helpers">
                                        <span class="leaderboard_helper_btn" >
                                            <a href="{% url 'profile' g_user.public_id %}" title="View profile">
                                                <i class="ri-user-fill"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        {% else %}
                            <div class="center_info">
                                <p class="center_info_txt"> No data available for the leaderboard at this moment </p>
                            </div>
                            
                        {% endif %}
                        {% endblock %}
                    </section>

                    <article class="explanation">
                        <p><strong> Pure % </strong> measures a user’s overall prediction success rate. It represents the percentage of slips where all predictions were correct, indicating complete wins rather than partial accuracy..</p>
                        <p><strong> Pure Odds </strong> are the odds of slips in which all the predictions are correct. </p>
                    </article>
                </section>
            </section>

        </section>

    </div>
    
{% endblock %}



{% block modals %}

    <div class="modalContainer code_modal_format" id="slipCodeCopyModal">
        <div class="modal" role="dialog">
            <header>
                <a href="" class="profile_anchor">
                    <figure>
                        <img src="" alt="profile image">
                        <figcaption></figcaption>
                    </figure>
                </a>

            </header>

            <section>
                <div class="code_area">
                    <div class="slipcode" id="slipCodeOutput">
                        ...
                    </div>
                    <button data-copied = "slipCodeOutput" disabled>
                        {% include 'partials/copy_svg.html' %}
                    </button>
                </div>

                <table>
                    <thead>
                        <tr>
                            <td>won/games</td>
                            <td>lost</td>
                            <td>win %</td>
                            <td>odds</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="tb_info">6 / 18</td>
                            <td class="tb_cut">3</td>
                            <td class="tb_percent">98%</td>
                            <td class="tb_odds">1678292</td>
                        </tr>
                    </tbody>

                    <caption>
                        <small>You cannot view a user's weekly code</small>
                    </caption>
                </table>

            </section>
            
            <footer class="modal_footer">
                <button class="md_close msg_btn">Close</button>
            </footer>
        </div>
    </div>

    {% if is_current_player and not profile_obj.private_acct %}
        <div class="modalContainer code_modal_format" id="yourInfoModal">
            <div class="modal" role="contentinfo">
                <header>
                    <a href="{% url 'profile' profile_obj.public_id %}" class="profile_anchor">
                        <figure>
                            <img src="{% static profile_obj.avatar %}" alt="">
                            <figcaption>You</figcaption>
                        </figure>
                    </a>
                    
                    <span class="position" title="position on the leaderboard">
                        {{ player_obj.rank|format_rank }}
                    </span>
                </header>

                <section>
                    <div class="code_area">
                        <div class="slipcode" id="yourCodeOutput">
                            {{ player_obj.slip.slip_code }}
                        </div>
                        <button data-copied = "yourCodeOutput">
                            {% include 'partials/copy_svg.html' %}
                        </button>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>won/games</td>
                                <td>lost</td>
                                <td>win %</td>
                                <td>odds</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="tb_info">
                                    {{ player_obj.games_won|return_0_if_none }} / {{ player_obj.total_events }}
                                </td>
                                <td class="tb_cut">
                                    {{ player_obj.games_lost|return_0_if_none }}
                                </td>
                                <td class="tb_percent">
                                    {{ player_obj.accuracy|floatformat:1}}
                                </td>
                                <td class="tb_odds">
                                    {{ player_obj.slip.total_odds|floatformat|intcomma }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </section>
                
                <footer class="modal_footer">
                    <button class="md_close msg_btn">Close</button>
                </footer>
            </div>
        </div>
    {% endif %}

    <div class="modalContainer create_game_modal" id = "createNewGameModal">
        <div class="modal" >

            <form id="createGameForm" method = "POST" action = "{% url 'create_weekly_game' %}">
                {% csrf_token %}

                <p class="form_header"> Create New Game</p>
                <div>
                    <label for="from_date">
                        From
                    </label>
                    <input type="datetime-local" id = "from_date" name = "from_date_val" required>
                </div>
                <div>
                    <label for="to_date">
                        To
                    </label>
                    <input type="datetime-local" id = "to_date" name = "to_date_val" required>
                </div>

                <button class="form_action_btn" type = "submit"> 
                    Create
                </button>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        let slipCodeCopyModal = document.getElementById('slipCodeCopyModal');

        pathIds = {
            'weekly': 'wklyLeaderboard',
            'global': 'globalLeaderboard',
        }
        showPathTab(pathIds, 'weekly');


        // DONT TOGGLE DETAILS EXCEPT BUTTON IS CLICKED
        find('.rules_toggler')?.addEventListener('click', (e) => {
            if (!e.target.closest('.rules_toggler > span')) {
                e.preventDefault();
            } 
        })
        find('#wklyGameForm details')?.addEventListener('toggle', (e) => {
            if (e.target.open){
                e.target.closest('form').scrollTo({
                    top: 40, behavior: "smooth"
                })
            }
        })

        function styleWeeklyBoards(){
            finds('.user_row').forEach((row) => {
                row.style.setProperty('--pos-x', `${Math.random() * 100}%`);
                row.style.setProperty('--pos-y', `${Math.random() * 100}%`);
            })
        }
        styleWeeklyBoards();

        // FILL IN INDIVIDUAL INFO WHEN MODAL IS OPENED
        function fillInWeeklyUserInfo(e){
            let userRow = e.detail.modal_btn.closest('.user_row')
            let imgSrc = find('.leaderboard_profile_img', userRow)?.src;
            let username = find('.lb_username', userRow)?.textContent;
            let slipInfo = find('.lb_profile', userRow)?.dataset.slipInfo;
            let slipCut = find('.lb_profile', userRow)?.dataset.slipCut;
            let totalOdds = find('.lb_odds', userRow)?.textContent
            let winPercent = find('.lb_percent', userRow)?.textContent
            let profileHref = find('.lb_profile > a', userRow)?.href;
            find('.profile_anchor', slipCodeCopyModal).href = profileHref;
            find('figcaption', slipCodeCopyModal).textContent = username;
            find('figure img', slipCodeCopyModal).src = imgSrc;

            // TABLE INFO
            find('td.tb_info', slipCodeCopyModal).textContent = slipInfo;
            find('td.tb_odds', slipCodeCopyModal).textContent = totalOdds;
            find('td.tb_percent', slipCodeCopyModal).textContent = winPercent;
            find('td.tb_cut', slipCodeCopyModal).textContent = slipCut;
        }
        function emptyWeeklyModal(e) {
            find('.profile_anchor', slipCodeCopyModal).href = "";
            find('figcaption', slipCodeCopyModal).textContent = "";
            find('figure img', slipCodeCopyModal).src = "";
            find('td.tb_odds', slipCodeCopyModal).textContent = "";
            find('td.tb_percent', slipCodeCopyModal).textContent = "";
            find('td.tb_info', slipCodeCopyModal).textContent = "";
            find('td.tb_cut', slipCodeCopyModal).textContent = "";
        }
        
        find('.wkly_leaderboard .board')?.addEventListener('showModal', fillInWeeklyUserInfo);
        find('.wkly_leaderboard .board')?.addEventListener('hideModal', emptyWeeklyModal);

        find('.boards_btn i').className = 'ri-bar-chart-fill';


        function initWeeklyBoardModals(){
            modalBtns = modalBtns.filter((btn) => bdy.contains(btn));
            finds('.wkly_extra_stats_btn').forEach((btn) => {
                if (!modalBtns.includes(btn)) {
                    modalObj = new ModalObj(btn);
                    modalBtns.push(modalObj.btn);
                }
            })
        }

        bdy.addEventListener('hx_init_components', (e) => {
            styleWeeklyBoards();
            initWeeklyBoardModals();
        })
    </script>
{% endblock %}