{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Preview Slip {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}


{% block content %}
    
    <section class="form_holder">

        <form action="" id="previewSlipForm" hx-post = "{% url 'preview' %}" hx-target = "#previewDisplay" hx-indicator = "#customSpinner">
            <p class="form_header"> Preview Slip </p>
            
            <div class="form_flex">
                <input type="text" placeholder="Slip code..." name = "slip_code" maxlength = "10" hx-clear-input required autocomplete = "off">
            </div>
            
            <span class = "preview_form_span">
                <button type = "button" class = "icon_btn" data-button data-modal = "previewFormInfoModal" aria-expanded = "false">
                    <i class = "ri-information-line"></i>
                </button>
            </span>

            <button type="submit" class="form_action_btn"> Preview</button>

            <button class="icon_btn save_changes_btn" hx-post = "{% url 'make_preview_changes' %}" hx-include = "#editSlipDetails" hx-target = "#previewDisplay" hx-indicator = "#customSpinner">
                Save changes
            </button>

        </form>

        <article class="slip_preview" id="previewDisplay">
            {% block preview_display_block %}
                <span id = "editSlipDetails">
                    <input type="hidden" name = "removed_ids" >
                </span>
            {% if valid_games %}

                <div class="center_info indicator_grp">
                    <span class = "htmx-indicator" id = "customSpinner"> 
                        <div class="loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                </div>

                <div class = "preview_main">
                    <header id = "previewHeader">
                        <span class="preview_code_group">
                            <p class="heading_txt" id="previewCode">
                                {{ slip_code }}
                            </p>
                            <button  data-copied="previewCode">
                                {% include 'partials/copy_svg.html' %}
                            </button>
                        </span>

                        <p class = "preview_extra_info">
                            {{ slip_info.selections_no }} ({{ slip_info.total_odds|intcomma }})
                        </p>
                    </header>

                    <div class="wkly_games_list">
                        {% for game in valid_games %}
                    
                            <article class="game" id = "game{{ game.id_ }}">
                                <article class="game_main">
                                    <div class="game_lhs">
                                        <p class="home txt_ellipse">{{ game.home_team }} </p>
                                        <p class="away txt_ellipse">{{ game.away_team }}</p>

                                        <span class = "sport_icon_span">
                                            {% if game.sport_icon %}
                                                <img class="sport_icon" src = "{% static game.sport_icon %}" alt = '{{ game.sport }} icon'>
                                            {% endif %}
                                            <p class="pick"> {{ game.pick }}</p>
                                        </span>
                                    </div>

                                    <span class="game_rhs">
                                        <button class="icon_btn remove_selection_btn detail_dead_zone" title="remove selection">
                                            <i class="ri-close-large-line"></i>
                                        </button>
                                        
                                        <p class="odds">{{ game.odds }}</p>
                                    </span>
                                </article>

                                <article class="game_sub custom_details" data-detail-toggle = "game{{ game.id_ }}">
                                    <div class="market_info">
                                        <p class="market">{{ game.market_type }}</p>
                                    </div>

                                    <div class="comp_info">
                                        <p class="comp_name">{{ game.league }} </p>
                                        <p class="time">{{ game.start_time }}</p>
                                    </div>
                                </article>
                            </article>

                        {% endfor %}
                    </div>
                </div>

            {% else %}
                <div class="center_info">
                    <span class = "htmx-indicator" id = "customSpinner"> 
                        <div class="loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                    
                    {% if not error_msg %}
                        <div class = "center_info_holder">
                            <span class="center_icon">
                                <i class="ri-information-line"></i>
                            </span>
                            <p class="center_info_txt">{{ center_info_msg }}</p>
                        </div>
                    {% else %}
                        <div class = "center_info_holder">
                            <span class="center_icon error">
                                <i class="ri-error-warning-line"></i>
                            </span>
                            <p class="center_info_txt error">{{ error_msg }}</p>
                        </div>
                    {% endif %}
                </div> 
                
            {% endif %}
            {% endblock %}
        </article>

    </section>
{% endblock %}

{% block modals %}
    <div class="modalContainer" id="previewFormInfoModal">
        <div class="modal">
            <header>
                <button class = "icon_btn md_close">
                    <i class = "ri-close-large-line"></i>
                </button>
            </header>

            <article>

                <p class="preview_help_info">
                    Selections involving any of the following would be removed automatically from the preview: 
                    <span class="preview_help_item">Live games</span>
                    <span class="preview_help_item">Already played games</span>
                    <span class="preview_help_item">Suspended games</span>
                    <span class="preview_help_item">Markets and Sports not supported</span>
                </p>
                <p class="preview_help_info">
                    In the case of contingent outcomes, only one selection is left which is chosen at random.
                </p>
                <p class="preview_help_info">
                    Individual odds are determined by the betting platform, while total odds are calculated using Spedger’s internal system.
                </p>
                
                <p class="preview_help_info">
                    After editing slip, use the save changes button to generate the new code. 
                </p>
            </article>
        </div>
    </div>
{% endblock %}


{% block scripts %} <script src="{% static 'js/preview.js' %}"></script> {% endblock %}