{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block title %} 
    {% if this_profile.user == user %}
        My Profile
    {% else %}
        Profile ({{ this_profile.user }})
    {% endif %}
{% endblock title %}

{% block styles %}
  <style>
    .center_info{
        min-height: 7em;
    }
    #deleteReasonInput{
        padding: 0.5em;
        border-radius: 5px;
        border: var(--border-main);
        color: var(--col-main);
        width: 100%;
        resize: none;
        font-size: 1rem;
        font-family: var(--ff-main);
    }
    #deleteReasonInput:focus{
        outline: none;
        border: var(--border-sub);
    }
    #customSpinner{
        margin-top: 4rem;
    }
  </style>
{% endblock %}


{% block content %} 
    <div class="profile_page">
        <section class="user_info">
            <figure>
                <img class="profile_img" src="{% static this_profile.background %}" alt="Background Image">

                <p>
                    <span class = "profile_page_username"> 
                        {{ this_profile.user.username }} 
                        {% if this_profile.private_acct %}
                            <i class="ri-lock-line"></i>
                        {% endif %}
                    <span>
                
                    {% if request.user != this_profile.user %}
                        <button class="icon_btn view_code_btn" hx-post = "{% url 'join_code_viewers' this_profile.public_id %}" hx-target = "#viewingOutput" title = "view" {% if not this_profile.reveal_slips %} disabled {% endif %}>
                            <i class="ri-binoculars-line"></i>
                        </button>
                    {% endif %}

                    <button class="btn2_ share_btn" data-modal = "shareModal" aria-expanded="false" data-button ><i class="ri-share-fill"></i></button>
                </p>
                
                <span class="flags_c">
                    <img src="{% static 'img/flags/'|add:country_code|add:'.png' %}" alt="{{ this_profile.nationality }}" title="{{ this_profile.nationality }}">
                </span>
            </figure>

            <article class="current_info1">
                <p class="attribute_line">
                    <label for="">Full Name </label>
                    <span> {{ this_profile.full_name }} </span>
                </p>
                {% if this_profile.fav_team %}
                    <p class="attribute_line">
                        <label for="">Favourite Team </label>
                        <span>{{ this_profile.fav_team|return_none }}</span>
                    </p>
                {% endif %}
                <p class="attribute_line">
                    <label for="">Date joined </label>
                    <span>{{ this_profile.created_at|date:"jS F, Y" }}</span>
                </p>
                <p class="attribute_line">
                    <label for="">Current Group </label>
                    <span> 
                        {% if this_profile.groups.all|length > 0 %}
                        <a href = "{% url 'group_details' this_profile.groups.first.group_id %}"> 
                            {{ this_profile.groups.first.group_name|return_none }} 
                        </a>
                        {% else %}
                            None
                        {% endif %}
                    </span>
                </p>

                {% if this_profile.reveal_slips %}
                    {% if this_profile.user != request.user %}
                        <p class="attribute_line">
                            <label for="">Viewing</label>
                            <span id = "viewingOutput">
                                {% if is_viewer %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </span>
                        </p>
                    {% endif %}
                    <p class="attribute_line">
                        <label for="">Code Viewers</label>
                        <span>
                            {{ this_profile.viewers.all|length|intcomma }}
                        </span>
                    </p>
                {% endif %}

                <p class="attribute_line">
                    <label for="">Wins</label>
                    <span>
                        {{ this_profile.winning_slips_count|intcomma }}
                    </span>
                </p>

            </article>
            
            <footer class="info_footer">
                {% if this_profile.user == user %}
                    <button class="delete_acct btn_" data-modal="deleteReasonModal" data-button aria-expanded="false" ><i class="ri-delete-bin-line"></i> Delete Account</button>

                {% elif user not in this_profile.friends.all %}
                    <button class = "btn2_ share_btn" hx-post = "{% url 'send_friend_request' this_profile.public_id %}" hx-swap = "none">
                        <i class = "ri-add-large-fill"></i>
                        Add as Friend
                    </button>
                    <button></button>
                {% elif user in this_profile.friends.all %}
                    <button class = "btn2_ share_btn" hx-post = "{% url 'unfriend_user' this_profile.public_id %}" hx-swap = "none">
                        <i class="ri-user-unfollow-line"></i>
                        Unfriend
                    </button>
                {% endif %}
            </footer>
        </section>

        <section class="extra_info">
            <article class="current_info2">
                <header>
                    <h1 class="section_header">Prediction Stats</h1>
                </header>
                
                <div class="attribute_line helper">
                    <label for="">Pure Odds </label>
                    <span>
                        <span>{{ this_profile.pure_odds }}</span>

                        <span class="dropdown_container">
                            <button class="btn2_" data-dropdown="pureOddsDropdown" ><i class="ri-information-line"></i></button>
                            
                            <div class="dropdown w_20 not_list p_07" id="pureOddsDropdown">
                                <p class="form_help_txt">
                                    The combined odds of slips in which all the predictions are correct.
                                </p>
                            </div>
                        </span>

                    </span>
                </div>

                <div class="attribute_line helper">
                    <label for="">Accuracy</label>
                    <span class="dropdown_container">
                        <span>
                            {{ this_profile.accuracy }}%
                        </span>

                        <span>
                            <button class="btn2_" data-dropdown="accuracyExplanation" ><i class="ri-information-line"></i></button>

                            <div class="dropdown w_20 not_list p_07" id="accuracyExplanation">
                                <p class="form_help_txt">
                                    Reflects how many individual game predictions the user gets right, independent of overall slip results.
                                </p>
                            </div>
                        </span>
                    </span>
                </div>
                <p class="attribute_line">
                    <label for="">Pure Percentage (slips)</label>
                    <span>
                        {{ this_profile.pure_odds_write_up }}
                    </span>
                </p>
                <p class="attribute_line">
                    <label for="">Highest winning odds</label>
                    <span>{{ this_profile.highest_winning_odds }}</span>
                </p>
                <p class="attribute_line">
                    <label for="">Average Odds</label>
                    <span>{{ this_profile.avg_odds }}</span>
                </p>
                <div class="attribute_line helper">
                    <label for="">Average Winning Odds</label>
                    <span class="dropdown_container">
                        <span>{{ this_profile.avg_winning_odds }}</span>

                        <span>
                            <button class="btn2_" data-dropdown="averageWinningOdds" ><i class="ri-information-line"></i></button>

                            <div class="dropdown w_10 not_list p_07" id="averageWinningOdds">
                                <p class="form_help_txt">
                                    The average odds per each winning slip.
                                </p>
                            </div>
                        </span>
                    </span>
                </div>
                <p class="attribute_line">
                    <label for="">Last Weekly Finish</label>
                    <span>5</span>
                </p>
                <p class="attribute_line">
                    <label for="">Highest Weekly Finish</label>
                    <span>1</span>
                </p>
            </article>

            
            
        </section>

        <section class="history_info">
            <article class="current_info2 history_sect">

                <button class="btn2_ share_btn" hx-post = "{% url 'profile' this_profile.public_id  %}" hx-target = "#loggingHistory" hx-indicator = "#customSpinner" hx-vals = '{"show_history": "true"}'>
                    <i class="ri-history-line"></i> See history 
                </button>

                {% include 'partials/spinner.html' %}

                <p class="total_visits"></p>

                <div class="logging_history" id = "loggingHistory">
                    {% block logging_history_block %}
                    {% if show_history %}
                        {% if request.user != this_profile.user %}
                            <p>
                                <i class="ri-information-line"></i> 
                                {% if this_profile.reveal_slips %}
                                    You have to be viewing this user to see their codes
                                {% else %}
                                    This user has turned off reveals.
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if this_profile.user.slips.all %}
                            <table>
                                <tbody class = "slips_history_tbody">
                                    {% block slips_history_block %}
                                        {% for slip in this_slips  %}

                                            <tr {% if slip.slip_won %} class="winning_slip" {% endif %}>
                                                <td id = "slipCode{{ slip.id }}"> 
                                                    {% if show_slips_codes %}
                                                        {{ slip.slip_code|upper }} 
                                                    {% else %}
                                                        ...
                                                    {% endif %}
                                                </td>

                                                <td>{{ slip.win_percentage|floatformat }}%</td>
                                                
                                                <td>{{ slip.entry_date|date:"d-m" }}</td>

                                                <td class="btn_td">
                                                    <button class="icon_btn" data-copied = "slipCode{{ slip.id }}" {% if not show_slips_codes %} disabled {% endif %}>
                                                        {% include 'partials/copy_svg.html' %}
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                            {% comment %} HX-SWAP-OOB {% endcomment %}
                                {% if from_profile_view == 'no' %}
                                    {% if this_slips.has_next %}
                                        <button class="btn2_ share_btn" id="loadMoreBtn" hx-post = "{% url 'load_more_slips_history' sk=this_profile.public_id page_num=this_slips.next_page_number %}" hx-target = ".slips_history_tbody" hx-swap = "beforeend" hx-swap-oob = "true">
                                            Load More
                                        </button>
                                    {% else %}
                                        <button id = "loadMoreBtn" class = "btn2_ share_btn" disabled="disabled" hx-swap-oob = "true">
                                            Load More
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% comment %} HX-SWAP-OOB {% endcomment %}
                                        
                                    {% endblock%}
                                </tbody>

                            </table>

                            <button class="btn2_ share_btn" id="loadMoreBtn" hx-post = "{% url 'load_more_slips_history' sk=this_profile.public_id page_num=this_slips.next_page_number %}" hx-target = ".slips_history_tbody" hx-swap = "beforeend">
                                Load More
                            </button>

                        {% else %}

                            <div class="center_info">
                                <p class="center_info_txt">No previous slips</p>
                            </div>

                        {% endif %}
                        
                    {% endif %}
                    {% endblock %}

                </div>

            </article>
        </section>
    </div>

{% endblock content %}


{% block modals %} 
    <div class="modalContainer" id="shareModal">
        <div class="modal" role="dialog">
            <div class="share_row">
                <input type="text" value="{{ request.build_absolute_uri }}" readonly id="shareLinkTxt">

                <button class="btn2_ share_btn" data-copied="shareLinkTxt" title="copy"><i class ="ri-file-copy-line"></i></button>
            </div>

        </div>
    </div>
    
    <div class="modalContainer" id="deleteReasonModal">
        <div class="modal" role="dialog">
            <div class="md_header">
                <p>Why are you deleting this account?</p>
            </div>
            
            <form action="{% url 'delete_acct' this_profile.public_id %}" method = "post" id = "deleteReasonForm">
                {% csrf_token %}
                <div>
                    <textarea type="text" name="delete_reason" id="deleteReasonInput"></textarea>
                </div>
            </form>
                    
            <footer>
                <button class="msg_btn md_close">Close</button>
                <button type = "submit" form = "deleteReasonForm" class="msg_btn md_close delete">Delete</button>
            </footer>
        </div>
    </div>
{% endblock modals %}


{% block scripts %}
    <script>
        bdy.addEventListener('hx_auto_scroll', (e) => {
            window.scrollTo({
                top: bdy.scrollHeight,
                behavior: 'smooth',
            })
        })
    </script>
{% endblock %}