{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} Users {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{% static 'css/users.css' %}"> 
    <style>
        #customSpinner{
            margin-top: 1em;
        }
        .center_info {
            min-height: 20vh;
        }
        #friendRequests .center_info, #duels .center_info{
            padding: 0 1.5rem 8rem;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="users_page">
        <div class="for_mobile">
            {% include 'partials/duel_mobile_menu.html' %}
        </div>

        <section class="user_display">

            <section class="user_option active_tab2" id="searchUser" aria-labelledby="searchUser" role="tabpanel" data-tab-name = "search-users">
                <form hx-post = "{% url 'search_users' %}" hx-target = "#searchResults" hx-indicator = "#customSpinner" hx-trigger = "keyup delay:0.5s, click from:#searchSubmitBtn" >
                    {% csrf_token %}
                    
                    <div class="search_section">
                        <input type="text" placeholder="Username..." name = "search_word">
                        <button class="icon_btn" type="submit" id = "searchSubmitBtn">
                            <i class="ri-search-line"></i>
                        </button>
                    </div>
                </form>

                <span class = "htmx-indicator" id = "customSpinner"> 
                    <div class="loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </span>

                <div class="search_results" id = "searchResults">
                    {% block search_results_block %}
                    {% if user_results %}
                        {% for result in user_results %}

                            <div class="user">
                                <figure class="user_main">
                                    <a href="{% url 'profile' result.public_id %}">
                                        <img src="{% static result.avatar %}" alt="">
                                    </a>
                                    <figcaption class="txt_ellipse">
                                        {{ result.user.username }}
                                    </figcaption>
                                </figure>
                                <div class="user_sub">
                                    <p class="txt_ellipse" title="pure odds">{{ result.pure_odds|filter_chat_odds }}</p>

                                    {% if not result.user in profile_obj.friends.all %}
                                        <button class="icon_btn" title="send friend request" hx-post = "{% url 'send_friend_request' result.public_id %}" hx-swap = "none">
                                            <i class="ri-add-large-line"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}

                    {% else %}
                        <div class="center_info">
                            <p class="center_info_txt">{{ center_info_msg }}</p>
                        </div>
                    {% endif %}
                    {% endblock %}

                </div>

            </section>


            <section class="user_option" id="friendRequests" aria-labelledby="friendRequests" role="tabpanel" data-tab-name = "friend-requests">
                <article class="user_title_tab">
                    <a class="active_title_tab" data-tab2="sentRequests" aria-selected="true" tabindex="0" aria-controls="sentRequests">
                        Sent
                    </a>
                    <a data-tab2="receivedRequests" aria-controls="receivedRequests" tabindex="-1" aria-selected="false">
                        Received 
                        {% if received_requests %}
                            <span class="notification_span">
                                {{ received_requests|length }}
                            </span>
                        {% endif %}
                    </a>
                </article>

                {% include 'partials/requests.html' %}
            </section>


            <section class="user_option" id="duels" aria-labelledby="duels" role="tabpanel" data-tab-name = "duels">
                <form class="duels_filter" hx-post = "{% url 'filter_duels' %}" hx-target = "#duelsHistory" hx-indicator = "#customSpinner4">

                    <div class = "duels_filter_categories">
                        <label for="sentDuels" class="duels_filter_cb">
                            <input type="radio" name="duel_filter2" id="sentDuels" value = "sent">

                            <span class="custom_duel_cb">Sent <i class="ri-check-line checkmark"></i></span>
                        </label>

                        <label for="receivedDuels" class="duels_filter_cb">
                            <input type="radio" name="duel_filter2" id="receivedDuels" value = "received">

                            <span class="custom_duel_cb">Received <i class="ri-check-line checkmark"></i></span>
                        </label>

                        <label for="activeDuels" class="duels_filter_cb">
                            <input type="radio" name="duel_filter" id="activeDuels" value = "active">

                            <span class="custom_duel_cb">Active <i class="ri-check-line checkmark"></i></span>
                        </label>

                        <label for="duelWinsInput" class="duels_filter_cb">
                            <input type="radio" name="duel_filter" id="duelWinsInput" value = "wins">

                            <span class="custom_duel_cb">Wins Only<i class="ri-check-line checkmark"></i></span>
                        </label>

                        <label for="rejectedDuelsInput" class="duels_filter_cb">
                            <input type="radio" name="duel_filter" id="rejectedDuelsInput" value = "rejected">

                            <span class="custom_duel_cb">Rejected<i class="ri-check-line checkmark"></i></span>
                        </label>
                    </div>

                    <button type="submit" class="btn2_ share_btn" >
                        Filter
                    </button>
                </form>

                <span class = "htmx-indicator" id = "customSpinner4"> 
                    <div class="loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </span>                

                <section id = "duelsHistory" >
                    {% block duels_history_block %}
                        {% if your_duels %}
                        
                            <article class="duels_history" >
                                {% block duels_block %}
                                    {% for duel in your_duels %}
                                        {% include 'partials/duel.html' %}
                                    {% endfor %}

                                    {% if request.htmx  %}
                                        {% if your_duels.has_next %}
                                            <button id = "loadMoreDuelsBtn" class="btn2_ share_btn" hx-post = "{% url 'load_more_duels' your_duels.next_page_number %}" hx-target = ".duels_history" hx-swap = "beforeend" hx-swap-oob = "true" >
                                                Load More...
                                            </button>
                                        {% else %}
                                            <button id = "loadMoreDuelsBtn" class = "btn2_ share_btn" hx-swap-oob = "true" disabled>
                                                Load More...
                                            </button>
                                        {% endif %}
                                    {% endif %}

                                {% endblock %}
                            </article>

                            <div class="footer_btn">
                                {% if your_duels.has_next %}
                                    <button id = "loadMoreDuelsBtn" class="btn2_ share_btn" hx-post = "{% url 'load_more_duels' your_duels.next_page_number %}" hx-target = ".duels_history" hx-swap = "beforeend">
                                        Load More...
                                    </button>
                                {% endif %}
                            </div>

                        {% else %}
                            <div class="center_info">
                                <span class="center_icon">
                                    <i class = "ri-information-line"></i>
                                </span>
                                <p class="center_info_txt">
                                    You'll see your previous duels here 
                                </p>
                            </div>
                        {% endif %}
                    {% endblock %}
                </section>
            </section>
        </section>


        <section class="user_menu">
            <section class="friends">
                <header>
                    <p> Friends ({{ profile_obj.friends.all|length }})</p>
                </header>

                <ul class="friends_list">
                    {% for friend in profile_obj.friends.all %}
                        <li class="friend" data-user = "{{ friend.id }}">
                            <span class="friend_main">
                                <a href="{% url 'profile' friend.user_profile.public_id %}">
                                    <img src="{% static friend.user_profile.avatar %}" alt="{{ friend.username }} profile">
                                </a>
                                <p class="friend_username txt_ellipse">
                                    {{ friend.username }}
                                </p>
                            </span>
                            <span class="friend_sub">  
                                <button class="icon_btn" data-modal="startDuelModal" data-button aria-expanded="false">
                                    <i class="ri-scales-line"></i>
                                </button>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="users_options">
                <div>
                    <button data-tab2="searchUser" role="tab" tabindex="0" aria-controls="searchUser" aria-selected="true">
                        <i class="ri-search-line"></i> Search
                    </button>
                </div>
                <div>
                    <button data-tab2="friendRequests" role="tab" tabindex="-1" aria-controls="friendRequests" aria-selected="false">
                        <i class="ri-mail-line"></i> Requests
                        {% if received_requests %}
                            <span class = "notif_span">
                                {{ received_requests|length|compact_num }}
                            </span>
                        {% endif %}
                    </button>
                </div>
                <div>
                    <button data-tab2="duels" role="tab" tabindex="-1" aria-controls="duels" aria-selected="false">
                        <i class="ri-scales-line"></i> Duels
                        {% if open_duels %}
                            <span class = "notif_span">
                                {{ open_duels|length|compact_num }}
                            </span>
                        {% endif %}
                    </button>
                </div>
            </section>
        </section>
    </div>
  
{% endblock %}



{% block modals %}

    <div class="modalContainer" id="startDuelModal">
        <div class="modal" role="contentinfo">
            <form action="" class="duel_form" hx-post = "{% url 'send_duel_request' %}" hx-indicator = "#customSpinner2" hx-swap = "outerHTML" hx-target = "#startDuelFormErrors">

                <section class="your_code user_code">
                    <p class="txt_ellipse">You</p>
                    <input type="text" placeholder="Your Code..." maxlength="15" name = "slip_code" hx-clear-input required autocomplete = "off">
                </section>

                <section class="their_code user_code">
                    <p class="txt_ellipse"></p>
                    <input type="text" readonly>
                    <input type="hidden" name = "recipient">
                </section>

                <section class="min_odds">
                    <label for="minimumOddsCb">
                        <input type="checkbox" id="minimumOddsCb">
                        <span> Minimum odds </span>
                    </label>
                    <div class="input_holder">
                        <input type="number" max="100" class="min_odds_input" name = "minimum_odds" hx-clear-input>
                    </div>
                </section>

                {% block form_error_block2 %}
                    <span class="form_error_txt" id="startDuelFormErrors">
                        {{ form_error }}
                    </span>
                {% endblock %}

                <span class = "htmx-indicator" id = "customSpinner2"> 
                    <div class="loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </span>

                {% include 'partials/duel_help_section.html' %}

                <button class="form_action_btn">Submit</button>
            </form>

        </div>
    </div>

    <div class="modalContainer" id="updateDuelModal">
        <div class="modal">
            <form action="" class="duel_form" hx-post = "{% url 'accept_duel' %}" hx-target = "#acceptDuelFormErrors" hx-swap = "outerHTML" hx-indicator = "#customSpinner3">

                <section class="your_code user_code">
                    <input type="text" placeholder="Your Code..." maxlength="15" name = "slip_code" hx-clear-input required autocomplete = "off">
                    <input type="hidden" class="duel_id_input" name = "duel_id">
                </section>

                <span class = "duel_min_odds"></span>

                {% block form_error_block %}
                    <span class="form_error_txt" id = "acceptDuelFormErrors">
                        {{ form_error }}
                    </span>
                {% endblock %}

                <span class = "htmx-indicator" id = "customSpinner3"> 
                    <div class="loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </span>

                <button class="form_action_btn">Submit</button>
            </form>

        </div>
    </div>

{% endblock %}


{% block scripts %} 
    <script src = "{% static 'js/users.js' %}"></script> 
{% endblock %}